{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>taller</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <div>
    <h1>CAOZ</h1>
    <h3>¿Qué es una orden?</h3>
    <p>Una orden dentro de nuestra aplicación CAOZ es el lugar donde prodrás ver los productos que has adquirido.</p>
    <button mat-raised-button>Crea una nueva orden</button>
    <button mat-raised-button>Ver lista de ordenes</button>
    </div>
</body>
</html>